form{
    margin: auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid;
    background-color: #CCC;
}
label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
button{
    display: block;
    background-color: green;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 30;
    margin-top: 10px;
}
h1{
    text-align: center;
    color: maroon;
}